<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management SQL</title>
    <link rel="stylesheet" href="/static/assets/css/estilo.css">
    {% block css %}{% endblock %}
</head>
<body>

<nav class="topnav" id="myTopnav">
    <a href="/" class="active">Management SQL</a>
    <a href="/help" target="help">ayuda</a>
    <a href="/logout">salir</a>
    <a href="javascript:void(0);" class="icon" onclick="jsMenu.show(this)">
        <label>:3</label>
    </a>
</nav>


    {% block contenido %}{% endblock %}

    <script src="/static/assets/js/estilo.js"></script>
    {% block js %}{% endblock %}
</body>
</html>