{% extends "base.html" %}


{% block contenido %}



<div class="contenedor">
    <div class="row my-4">
        <div class="col-12  my-2">
            '{{ session['host'] }}@{{  session['usuario'] }}' - Base de Datos: 
            <select id="dbname">
                {% for item in database %}
                <option value="{{ item[0] }}">{{item[0]}}</option>
                {% endfor %}
            </select>
            
            <button id="btn-Consultar" class="btn btn-primary">Ejecutar</button>

        </div>
        
        <div class="col-12 my-2">
            <textarea id="consulta"  rows="5" placeholder="Inserte la consulta"></textarea>
            <p id="label-query"></p>
        </div>

        
    </div>

    
    <div class="row my-4">
        <div class="col-12 table-responsive" id="div-respuesta">
        </div>
    </div>

    
</div>
    
{% endblock %}



{% block js %}
    <script src="/static/jquery/jquery-3.5.1.min.js"></script>
    <script src="/static/jquery/jquery.hotkeys.js"></script>
    <script src="/static/handlebars/handlebars.min-v4.7.6.js"></script>
    <script src="/static/assets/js/app.js"></script>
{% endblock %}